[project]
name = "zk-rag"
version = "1.4.0"
authors = [
    { name = "Stacey Vetzal", email = "stacey@vetzal.com" },
]
description = "zk-rag is a command-line chat tool for your zettelkasten"
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    'Programming Language :: Python :: 3',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
]
dependencies = [
    "chromadb",
    "pyyaml",
    "mojentic>=0.2.5",
    "PySide6>=6.6.0",
    "wikipedia",
]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["zk_chat", "zk_chat.*"]

[project.urls]
Homepage = "https://github.com/svetzal/zk-rag"
Issues = "https://github.com/svetzal/zk-rag/issues"

[project.scripts]
zkchat = "zk_chat.cli:main"
zkchat-gui = "zk_chat.qt:main"
